/* Reset the margin and use a sans-serif font */
body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    overflow: hidden;
}

/* Create a responsive gallery layout using flexbox */
.gallery {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

/* Style each image in the gallery */
.gallery-image {
    position: relative;
    flex: 0 1 25%; /* Change flex property to allow 4 images per row */
    min-width: 25%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden; /* Ensures pseudo-element doesn't overflow */
}

/* Style the information overlay on the gallery images */
.gallery-image .info {
    position: relative;
    margin: 20px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 2; /* Ensure text is in front of pseudo-element */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Add transition for transform and opacity */
}

/* Style the heading and paragraph within the information overlay */
.gallery-image h2 {
    margin: 0;
    font-size: 24px;
}

.gallery-image p {
    margin: 5px 0 0;
    font-size: 18px;
}

/* Style the "Know More" link within the information overlay */
.gallery-image .know-more {
    display: none;
    color: aqua;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
}

/* Create a pseudo-element to apply a filter and scale effect on hover */
.gallery-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 1; /* Ensure it's behind the text */
    transition: filter 0.5s ease, transform 0.5s ease;
}

/* Apply the filter and scale effect on hover */
.gallery-image:hover::before {
    filter: grayscale(100%) blur(8px) hue-rotate(50deg) saturate(0%) brightness(30%) contrast(100%);
    transform: scale(1.05);
}

/* Move the information overlay up and make it fully visible on hover */
.gallery-image:hover .info {
    transform: translateY(-20px); /* Move the info section up */
    opacity: 1; /* Ensure the info section is fully visible */
}

/* Show the "Know More" link on hover */
.gallery-image:hover .know-more {
    display: block;
}

/* Media query for smaller screens: hide the caption */
@media (max-width: 767px) {
    .caption {
        display: none;
    }
}

/* Media query for larger screens: adjust the gallery layout and show the caption */
@media (min-width: 768px) {
    .gallery-image {
        flex: 1 1 25%;
    }
    .caption {
        display: block;
        bottom: 40px;
        left: 40px;
    }
}

/* Media query for extra-small screens: hide the information overlay */
@media(max-width: 480px){
    .gallery-image .info{
       display: none;
    }
}